<div class="row-fluid">
    <div class="span2">
        <form ng-submit="SaveRecipe()">
            <input type="text" name="name" ng-model="name" placeholder="Enter a name here" required><br/>
            <input type="text" name="preopTime" ng-model="prepTime" placeholder="prep time" required><br/>
            <input type="text" name="cookTime" ng-model="cookTime" placeholder="cook time" ><br/>

            <span class="pull-right">
                <button type="submit" class="btn btn-primary pull-right"><i class="icon-plus"></i> Save</button>
            </span>
        </form>
    </div>
</div>

