<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
        <h2>{{recipe.name}}</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
      <!--Body content-->
      <table class="table table-striped " >
          <tr>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>Total Time</th>
          </tr>
          <tr>
            <td>{{recipe.prepTime}}</td>
            <td>{{recipe.cookTime}}</td>
            <td>{{recipe.cookTime + recipe.prepTime}}</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
        <div class="btn btn-danger btn-small pull-right" ng-click="deleteRecipe()"><i class="icon-trash"></i> Delete</div>
    </div>
  </div>
</div>
    




