<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <!--Body content-->
      <table class="table table-striped " >
          <tr>
            <th>Recipe Name</th>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>Total Time</th>
          </tr>
          <tr ng-repeat="recipe in recipes">
            <td><a href="#/recipe/{{recipe.recipeId}}">{{recipe.name}}</a></td>
            <td>{{recipe.prepTime}}</td>
            <td>{{recipe.cookTime}}</td>
            <td>{{recipe.cookTime + recipe.prepTime}}</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row-fluid">
      <div class="span10">
        <a class="btn btn-mini btn-primary pull-right" href="#/recipe/add"><i class="icon-plus"></i> Add Recipe</a>
      </div>
  </div>
    
</div>